In [1]:
import numpy as np

In [2]:
import os

In [3]:
import csv

In [4]:
filename = "students_score.csv"

In [5]:
if not os.path.exists(filename): 
    rows = [
        ["Name","Math","Science","English","History"],
        ["Aditi",85,90,88,75],
        ["Rahul",78,82,79,80],
        ["Priya",92,95,89,94],
        ["Arjun",65,70,72,68],
        ["Neha",88,85,90,92],
        ["Vikram",55,60,58,62],
        ["Isha",99,97,95,98],
        ["Sameer",40,42,38,35],   # low scores for testing
        ["Kavya",72,75,70,74],
        ["Rohan",np.nan,68,70,66] # missing value example
    ]

    with open(filename,"w" , newline = "") as f : 
        writer = csv.writer(f)
        writer.writerows(rows)
    print(f"Created : {filename}")
else : 
    print(f"Using existing file : {filename}")

Created : students_score.csv

In [6]:
names = np.genfromtxt(filename , delimiter = ',' , dtype = str , skip_header = 1 , usecols = 0 , encoding = 'utf-8')

In [7]:
scores = np.loadtxt(filename , delimiter = ',' , dtype = float , skiprows = 1 , usecols = range(1,5) , )

In [8]:
n_students , n_subjects = scores.shape

In [9]:
col_mean = np.nanmean(scores,axis=0)

In [10]:
nanmask = np.isnan(scores)

In [11]:
scores[nanmask] = np.take(col_mean , np.where(nanmask)[1])